<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do List</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
    <div class="user-info">
        <span class="user-email">{{ current_user.email }}</span>
        <a href="{{ url_for('logout') }}" class="logout-btn">Logout</a>
    </div>
    <center><p id="animated-text"></p></center>
    <div class="container">
        <h1>To-Do List</h1>
        <input type="text" id="taskInput" placeholder="Add a new task">
        <input type="text" id="taskDataInput" placeholder="Add additional data">
        <button onclick="addTask()">Add Task</button>
        <ul id="taskList"></ul>
        <button onclick="clearCompletedTasks()">Clear Completed Tasks</button>
    </div>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
</body>
</html>
